.reset-btn {
    margin-left: 30%;
    width: 40%;
}

.reset-txt {
    font-family: Verdana, sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 15%;
}