.stat-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    background-color: #282828;
    color: #FFFFFF;
    font-family: Verdana, sans-serif;
    border: 1px solid black;
    border-radius: 10px;
    font-weight: 800;
}