.app {
    padding: 10px;
    background-color: #13434A;
    margin: 0% 1%;
}

.next-btn {
    margin: 2% 0px 0px 38%;
    font-family: Verdana, sans-serif;
    font-weight: 800;
    width: 25%;
    background-color: #000000;
}

.titulo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 0%;
    padding-bottom: 1%;
    font-family: Verdana, sans-serif;
    font-weight: 800;
    color: #FFFFFF;
}